html, body {
    margin: 0;
    height: 100%;
}

#background {
    background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.weather-container {
    /* background-color: rgba(0, 0, 0, 0.6); */
    margin-top: 20px;
}