{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'weather/style.css' %}">
    <title>Weather</title>
</head>
<body>
    <div class="layout-container">
        <div class="content-container">
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <div class="row gx-3 gy-3">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="city" placeholder="City">
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" value="Get Weather">
                    </div>
                </div>
            </form>
            
            <div class="weather-container">
                {% if weather %}
                    <h2>
                        <strong class="me-2">{{ weather.City }}</strong>
                        <small class="text-muted">{{ weather.Country_code }}</small>
                    </h2>
                    <img src=" https://openweathermap.org/img/wn/{{weather.Weather_icon}}.png" class="img-fluid" width="85" height="85" alt="Weather Icon">
                    <p class="h2 d-inline">{{ weather.Temperature }} &#8451</p>                    
                    <p class="h5">Description: {{ weather.Weather_description }}</p>
                    <p class="h6">
                        Humidity: {{weather.Humidity}}%
                        <span>&nbsp;</span>
                        Wind Speed: {{weather.Wind_speed}} m/s
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>